out/*
gtk4bash
debug.txt
xx.*
x.*
xxx.*
*.x
*.xx
*.xxx
Version.md
gitcommit.template
BLP/*.ui
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Other
*~
gtk-wrap
